<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget">
                    <h3 class="mb-4">About DevLife Blog</h3>
                    <p>En nuestro blog de desarrollo web, encontrarás artículos, tutoriales, proyectos y guías relacionados con el apasionante mundo del desarrollo web.</p>
                </div> <!-- /.widget -->
                
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-4 ps-lg-5">
                <div class="widget">
                    <h3 class="mb-4">DevLife</h3>
                    <ul class="list-unstyled float-start links">
                        <li><a href="#">About me</a></li>
                        <li><a href="#">Post</a></li>
                        <li><a href="#">Log In</a></li>
                        
                    </ul>
                    
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Social</h3>
                    <ul class="list-unstyled social">
                        <li><a href="https://www.instagram.com/andresduquew/"><span class="icon-instagram"></span></a></li>
                        <li><a href="https://x.com/adzaux"><span class="icon-twitter"></span></a></li>
                        <li><a href="https://www.facebook.com/aduque.w"><span class="icon-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/wado/"><span class="icon-linkedin"></span></a></li>
                        <li><a href="https://api.whatsapp.com/send?phone=573142534881"><span class="icon-whatsapp"></span></a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
        </div> <!-- /.row -->

        <div class="row mt-5">
            <div class="col-12 text-center">
                <!-- 
          **==========
          NOTE: 
          Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
          **==========
        -->

                <p>Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
                    Designed with love by <a href="https://untree.co">Untree.co</a>
                    <!-- License information: https://untree.co/license/ -->
                </p>
            </div>
        </div>
    </div> <!-- /.container -->
</footer> <!-- /.site-footer -->